.wrapper {
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 400px;
  height: 200px;
  background-color: white;
  padding: 10px;
  outline: none;
  border-radius: 15px;
  text-align: center;
}

.text {
  display: flex;
  height: 105px;
  font-size: 22px;
  font-family: cursive;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
  margin: 0 auto;
  background-color: black !important;
  padding: 10px !important;
  font-size: 20px !important;
}
