.button {
  background-color: black !important;
  border: none !important;
  border-radius: 15px !important;
  width: 90px !important;
  padding: 8px 50px !important;
  font-weight: 400 !important;
}

.button:disabled {
  background-color: rgb(195, 195, 195) !important;
}

.button:hover {
  transform: scale(1.02);
}

/* 39:13  */
