.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 20px;
  padding-top: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 450px;
  padding: 20px;
  border: 0.1px solid gold;
  border-radius: 10px;
}
